ul {
  list-style-type: none;
  padding: 2px;
}

p {
  margin: 3px;
}

button {
  margin-left: 5px;
  margin-top: 2px;
}

.success {
  color: green;
  background-color: lightgreen;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background-color: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.addBlog {
  background-color: lightgrey;
  padding: 10px;
}

.blog {
  background-color: beige;
  padding: 7px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin-top: 5px;
}

.removeButton {
  background-color: rgb(16, 83, 124);
  color: aliceblue;
  border-radius: 6px;
  padding: 3px;
}
